<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="website-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <a class="navbar-brand" href="#">
            Websites
        </a>
        
        <div class="navbar-text pull-right">
            <a href="#/website-new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div ng-repeat="website in model.websites" id="websitelist" class="container-fluid">
      <div>
        {{website.name}}
      </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <div class="navbar-text pull-right">
              <a href="profile.html">
                  <span class="glyphicon glyphicon-user"></span>
              </a>
      </div>
  </div>
</nav>