<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-href="#/user/{{model.userId}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    
        <div class="navbar-brand">
            Edit Website
        </div>
        
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="container-fluid hidden-sm hidden-xs v-divider pad">   
                <div class="row">
                    <div ng-repeat="site in model.websiteList" id="websitelist">
                        <div class="col-sm-6 col-md-6">
                            <a ng-href="#/user/{{model.userId}}/website/{{site._id}}/page">
                                <h4>{{site.name}}</h4>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a ng-href="#/user/{{model.userId}}/website/{{site._id}}">
                                <h4><span><i class="glyphicon glyphicon-cog"></i></span></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-9 pad">
            <form name="editWebsiteForm">
                <div class="form-group">
                    <label for="name">Website Name</label>
                    <input name="name" type="text" class="form-control" ng-model="model.website.name" required/> 
                </div>

                <div ng-show="model.submitted">
                    <div class="alert alert-danger" ng-show="editWebsiteForm.name.$error.required">
                        Name is a required field
                    </div>
                </div>

                <div class="form-group">
                    <label for="websiteDescription">Description</label>
                    <textarea class="form-control" rows="5" ng-model="model.website.description">
                    </textarea>
                </div>   
                <a ng-click="model.deleteWebsite()" type="button" class="btn btn-danger btn-block">Delete</a>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
                <a ng-href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </div>
    </div>
</nav>