<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.backToWebsiteList()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

            <a class="navbar-brand">
                New Website
            </a>
        
        <div class="navbar-text pull-right">
            <a ng-click="model.saveSite(model.website)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="container-fluid hidden-sm hidden-xs v-divider pad">   
                <div class="row">
                    <div ng-repeat="site in model.websiteList" id="websitelist">
                        <div class="col-sm-6 col-md-6">
                            <a ng-click="model.pageList(site.name)">
                                <h4>{{site.name}}</h4>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a ng-click="model.editSite(site.name)">
                                <h4><span><i class="glyphicon glyphicon-cog"></i></span></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-9">
            <div class="container-fluid pad">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="model.website.name" type="text" class="form-control" placeholder="Enter Website Name">
                    </div>
                    <div class="form-group">
                        <label for="websiteDescription">Description</label>
                        <textarea ng-model="model.website.description" class="form-control" placeholder="Enter Website Description" rows="5"></textarea>
                    </div>
                </form>
            </div>
        </div>

    </div>        
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
                <a ng-click="model.profile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </div>
    </div>
</nav>