<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.backToWebsiteList()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <a class="navbar-brand">
            Pages
        </a>
        
        <div class="navbar-text pull-right">
            <a ng-click="model.newPage()" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div id="pagelist" class="container-fluid pad">
  <div ng-repeat="page in model.pageList" id="websitelist" class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 pad">
          <h1><a ng-click="model.widgetList(page.name)">{{page.name}}</a></h1>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 pad">
          <h4><span><a ng-click="model.editPage(page.name)"><i class="glyphicon glyphicon-cog"></i></a>
          <i class="glyphicon glyphicon-align-justify"></i></span></h4>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <div class="navbar-text pull-right">
              <a ng-click="model.backToProfile()">
                  <span class="glyphicon glyphicon-user"></span>
              </a>
      </div>
  </div>
</nav>