<div class="container-fluid pad bottomPadding">
    <div class="list-group">
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <div class="js-video youtube-widget">
                    <iframe  width="560" height="315" ng-src={{model.trustSrc(widget.url)}} frameborder="0"></iframe>
                </div>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding round">
                <h4><span><a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"><i class="glyphicon glyphicon-cog"></i></a>
                <span><i class="glyphicon glyphicon-align-justify"></i></span></h4>
            </div>
        </div>
    </div>
</div>