<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.backToPageList()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <a class="navbar-brand">
            Widgets
        </a>
        
        <div class="navbar-text pull-right">
            <a ng-click="model.newWidget()" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div ng-repeat="widget in model.widgets">
    <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADER">
            <div ng-include src="'views/widget/widget-heading.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include src="'views/widget/widget-image.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include src="'views/widget/widget-youtube.view.client.html'"></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-play"></span>
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>

        <div class="navbar-text pull-right">
                <a ng-click="model.backToProfile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </div>
    </div>
</nav>