    <div id="editpageform" class="container-fluid pad">
    <form name="textForm">
        <div class="form-group">
            <label for="text">Name</label>
            <input name="name" type="text" class="form-control" ng-model="model.widget.name" required />
        </div>

        <div ng-show="model.submitted">
            <div class="alert alert-danger" ng-show="textForm.name.$error.required">
                Name is a required field
            </div>
        </div>

        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" ng-model="model.widget.text">
        </div>
        
        <div class="form-group">
            <label for="rows">Rows</label>
            <input name="rows" type="number" class="form-control" ng-model="model.widget.rows" required/>
        </div>

        <div ng-show="model.submitted">
            <div class="alert alert-danger" ng-show="textForm.rows.$error.required">
                Rows is a required field
            </div>
        </div>

        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input type="text" class="form-control" ng-model="model.widget.placeholder">
        </div>

        <div class="form-group">
            <label for="formatted">Formatted</label>
            <input type="checkbox" ng-model="model.widget.formatted">
        </div>

        <a ng-click="model.deleteWidget(model.widget)" type="button" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>