<div class="container-fluid pad">
    <div class="list-group">
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h1>{{widget.text}}</h1>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding round">
                <h4><span><a ng-click="model.editWidget(widget._id)"><i class="glyphicon glyphicon-cog"></i></a>
                <span><i class="glyphicon glyphicon-align-justify"></i></span></h4>
            </div>
        </div>
    </div>
</div>