<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

            <a class="navbar-brand">
                Choose Widget
            </a>
    </div>
</nav>

<div id="websitelist" class="container pad">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a ng-click="model.chooseHeaderWidget()">
                <h4>Header</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Label</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a ng-click="model.chooseHTMLWidget()">
                <h4>HTML</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Text Input</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Link</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Button</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a ng-click="model.chooseImageWidget()">
                <h4>Image</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a ng-click="model.chooseYouTubeWidget()">
                <h4>YouTube</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Data Table</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10">
            <a href="#">
                <h4>Repeater</h4>
            </a>
        </div>
    </div>
</div>


<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
                <a ng-href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </div>
    </div>
</nav>