<div ng-model="model.widget.text"
>
</div>

<div id="editpageform" class="container-fluid pad">
    <div ng-model="model.widget.text"
        text-angular
        ta-toolbar="   [['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                        ['bold', 'italics', 'underline', 'ul', 'ol', 'redo', 'undo', 'clear'],
                        ['justifyLeft','justifyCenter','justifyRight'],
                        ['html', 'insertLink']]">
    </div>
    <a ng-click="model.deleteWidget(model.widget)" type="button" class="btn btn-danger btn-block">Delete</a>
</div>