    <div id="editpageform" class="container-fluid pad">
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" ng-model="model.widget.text">
        </div>
        
        <div class="form-group">
            <label for="rows">Rows</label>
            <input type="number" class="form-control" ng-model="model.widget.rows">
        </div>

        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input type="text" class="form-control" ng-model="model.widget.placeholder">
        </div>

        <div class="form-group">
            <label for="formatted">Formatted</label>
            <input type="checkbox" ng-model="model.widget.formatted">
        </div>

        <a ng-click="model.deleteWidget(model.widget)" type="button" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>