<div class="hold-transition skin-blue-light sidebar-mini">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#/{{model.trainerId}}/searchClient" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#/{{model.trainer._id}}/searchClient" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">{{model.trainer.messages.length}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have {{model.trainer.messages.length}} messages</li>
                  <li>
                      <!-- inner menu: contains the messages -->
                      <ul class="menu">
                        <li ng-repeat="message in model.trainer.messages"><!-- start message -->
                            <a href="#/{{model.trainer._id}}/searchClient">
                            <div class="pull-left">
                                <!-- User Image -->
                                <img ng-src="{{message.client.img}}" class="img-circle" alt="User Image">
                            </div>
                            <!-- Message title and timestamp -->
                            <h4>
                                {{message.client.username}}
                            </h4>
                            <!-- The message -->
                            <p>{{message.message}}</p>
                            </a>
                        </li>
                        <!-- end message -->
                      </ul>
                      <!-- /.menu -->
                  </li>
                  <li class="footer"><a href="#/trainer/{{model.trainerId}}/messages">See All Messages</a></li>
              </ul>
            </li>
            <!-- /.messages-menu -->

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#/{{model.trainer._id}}/searchClient" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{{model.trainer.img}}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{model.trainer.firstName}} {{model.trainer.lastName}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{{model.trainer.img}}" class="img-circle" alt="User Image">

                <p>
                  {{model.trainer.firstName}} {{model.trainer.lastName}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a ng-click="model.logout()" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img ng-src="{{model.trainer.img}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{model.trainer.firstName}} {{model.trainer.lastName}}</p>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">OPTIONS</li>
        <!-- Optionally, you can add icons to the links -->
         <li><a href="#/trainerProfile/{{model.trainer._id}}"><i class="fa fa-link"></i> <span>My Profile</span></a></li>
         <li class="active"><a href="#/{{model.trainerId}}/searchClient"><i class="fa fa-link"></i> <span>Search For Clients</span></a></li>
        <li><a href="#/{{model.trainer._id}}/createWorkout"><i class="fa fa-link"></i> <span>Create New Workout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab">Search Clients</a></li>
            </ul>
            
            <div class="tab-content">
              <div class="active tab-pane" id="settings">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-xs-sm col-md-12">
                            <div class="form-group">
                                <input ng-model="model.client.firstName" type="text" class="form-control" placeholder="First Name" />
                                <input ng-model="model.client.lastName" type="text" class="form-control" placeholder="Last Name" />
                                <button ng-click="model.searchForClients(model.client)" type="button" class="btn btn-primary btn-block">
                                  Filter Clients By Name <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="client in model.clients" class="comments-list">
                  <div class="media">
                      <a class="media-left">
                        <img height="90px" width="80px" ng-src="{{client.img}}">
                      </a> 
                      <div class="media-body"> 
                        <h4 class="media-heading user_name">{{client.username}}</h4>
                        <p>{{client.firstName}} {{client.lastName}}</p>
                        <button ng-click="model.viewClientProfile(client._id)" type="submit" class="btn btn-primary">
                          View Profile
                        </button>
                      </div>
                  </div>
                </div>
              </div>

              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->



